In [21]:
import pandas as pd
import numpy as np

In [66]:
raw_data = pd.read_csv('unhcr_popstats_export_asylum_seekers_monthly_all_data.csv')
df = pd.DataFrame(raw_data)

# print alles:
# print(df)

# print specifieke kolommen:
# print(df[['Origin', 'Year']])

# print specifieke rijen:
print(df[1:11])

# print specifieke rijen:
print(df.loc[df['Territory_of_asylum'] == 'Australia'])

   Territory_of_asylum       Origin  Year      Month Value
1            Australia  Afghanistan  1999   February    10
2            Australia  Afghanistan  1999      March    25
3            Australia  Afghanistan  1999      April    25
4            Australia  Afghanistan  1999        May     7
5            Australia  Afghanistan  1999       June    24
6            Australia  Afghanistan  1999       July    30
7            Australia  Afghanistan  1999     August    15
8            Australia  Afghanistan  1999  September    10
9            Australia  Afghanistan  1999    October    88
10           Australia  Afghanistan  1999   November   233
       Territory_of_asylum                              Origin  Year  \
0                Australia                         Afghanistan  1999
1                Australia                         Afghanistan  1999
2                Australia                         Afghanistan  1999
3                Australia                         Afghanistan  1999
4                Australia                         Afghanistan  1999
5                Australia                         Afghanistan  1999
6                Australia                         Afghanistan  1999
7                Australia                         Afghanistan  1999
8                Australia                         Afghanistan  1999
9                Australia                         Afghanistan  1999
10               Australia                         Afghanistan  1999
11               Australia                         Afghanistan  1999
12               Australia                             Albania  1999
13               Australia                             Albania  1999
14               Australia                             Albania  1999
15               Australia                             Albania  1999
16               Australia                             Albania  1999
17               Australia                             Albania  1999
18               Australia                             Albania  1999
19               Australia                             Albania  1999
20               Australia                             Albania  1999
21               Australia                             Albania  1999
22               Australia                             Albania  1999
23               Australia                             Algeria  1999
24               Australia                             Algeria  1999
25               Australia                             Algeria  1999
26               Australia                             Algeria  1999
27               Australia                             Algeria  1999
28               Australia                             Algeria  1999
29               Australia                             Algeria  1999
...                    ...                                 ...   ...
306464           Australia  Venezuela (Bolivarian Republic of)  2016
306465           Australia  Venezuela (Bolivarian Republic of)  2017
306466           Australia                            Viet Nam  2016
306467           Australia                            Viet Nam  2016
306468           Australia                            Viet Nam  2016
306469           Australia                            Viet Nam  2016
306470           Australia                            Viet Nam  2016
306471           Australia                            Viet Nam  2016
306472           Australia                            Viet Nam  2016
306473           Australia                            Viet Nam  2016
306474           Australia                            Viet Nam  2016
306475           Australia                            Viet Nam  2016
306476           Australia                            Viet Nam  2016
306477           Australia                            Viet Nam  2016
306478           Australia                            Viet Nam  2017
306479           Australia                            Viet Nam  2017
306480           Australia                            Viet Nam  2017
306481           Australia                            Viet Nam  2017
306482           Australia                            Viet Nam  2017
306483           Australia                               Yemen  2017
306484           Australia                            Zimbabwe  2016
306485           Australia                            Zimbabwe  2016
306486           Australia                            Zimbabwe  2016
306487           Australia                            Zimbabwe  2016
306488           Australia                            Zimbabwe  2016
306489           Australia                            Zimbabwe  2016
306490           Australia                            Zimbabwe  2016
306491           Australia                            Zimbabwe  2016
306492           Australia                            Zimbabwe  2017
306493           Australia                            Zimbabwe  2017

            Month Value
0         January     8
1        February    10
2           March    25
3           April    25
4             May     7
5            June    24
6            July    30
7          August    15
8       September    10
9         October    88
10       November   233
11       December   134
12        January     4
13       February     4
14          March     2
15          April     4
16           June     2
17           July     1
18         August     2
19      September     2
20        October     4
21       November     1
22       December     6
23        January    10
24       February    15
25          March    14
26          April     2
27            May     3
28           June    10
29           July     5
...           ...   ...
306464      March     5
306465      March     8
306466    January    26
306467   February    37
306468      March    44
306469      April    40
306470        May    48
306471       June    71
306472       July    62
306473     August    67
306474  September    87
306475    October   105
306476   November    82
306477   December   109
306478    January    83
306479   February    80
306480      March   134
306481      April   111
306482        May    77
306483      March     5
306484    January     5
306485   February     7
306486      March     8
306487        May     9
306488       July     6
306489  September     6
306490    October    10
306491   November     6
306492   February     8
306493      April     6

[11220 rows x 5 columns]

c:\users\boble\appdata\local\programs\python\python36-32\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)